ul li { 
    list-style-type: none;
 }
 .why {
     color: green;
 }

 img {
     height: 300px;

 }

#kevin {
    background-color: bisque;
    color: teal;
}

#kevin img {
   height: 375px;
   width: 325px;
}

#kevin p {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 5vw
}

